[Desktop Entry]
Encoding=UTF-8
Name=Die Losungen
Icon=losungen
Comment=Biblische Losungen für jeden Tag
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Thomas Mitterfellner
X-KDE-PluginInfo-Email=thomas.mitterfellner@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.losungen
X-KDE-PluginInfo-Version=0.2.3
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-Plasma-NotificationArea=true
X-KDE-PluginInfo-Category=Utilities
